Repository hoseinABH/Next-Job-Board: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, lint, format

.lintstagedrc:

{
  "./src/**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --fix", "eslint"],
  "*.{cjs,mjs,md,json}": ["prettier --write"]
}

.lintstagedrc.json:

{
    "*.ts": ["lint", "format"],
    "*.tsx": ["lint", "format"]
}

style:improve company panel styles
  src/app/(main)/_components/roadmap.tsx
  src/app/(panel)/_components/sidebar.tsx
  src/app/(panel)/dashboard/applications/_components/applications-table.tsx
  src/app/(panel)/dashboard/applications/loading.tsx
  src/app/(panel)/layout.tsx
  src/components/logo.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

feat:add <LandingSection /> component
  src/app/(main)/_components/featured-jobs.tsx
  src/app/(main)/_components/frequently-asked-questions.tsx
  src/app/(main)/_components/roadmap.tsx
  src/app/(main)/_components/top-companies.tsx
  src/app/(main)/error.tsx
  src/components/company-card.tsx
  src/components/featured-job-card.tsx
  src/components/job-card.tsx
  src/components/landing-section.tsx
  src/components/top-company-card.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

chore:change app name
  package-lock.json
  package.json
Due: prettier --write

style:ui improvements
  src/app/(main)/_components/frequently-asked-questions.tsx
  src/app/(main)/applied/page.tsx
  src/app/globals.css
  src/components/apply-request-card.tsx
  src/components/header.tsx
  src/components/landing-section.tsx
  src/components/ui/toast.tsx
  tailwind.config.ts
Due: prettier --write, eslint --fix, eslint, lint, format

style:internships item skeleton
  src/components/job-card.tsx
  src/lib/common.ts
Due: prettier --write, eslint --fix, eslint, lint, format

feat:add character limiation for some input fields
  src/actions/cookie.ts
  src/app/(main)/_components/hero.tsx
  src/app/(panel)/dashboard/applications/_components/applications-table.tsx
  src/components/header.tsx
  src/components/input-field.tsx
  src/components/modal/panel/create-position.tsx
  src/components/modal/resume/about-me.tsx
  src/components/modal/resume/confirm-delete.tsx
  src/components/modal/resume/education.tsx
  src/components/modal/resume/personal-info.tsx
  src/components/modal/resume/skill.tsx
  src/components/modal/resume/work-experience.tsx
  src/components/navigation-drawer.tsx
  src/components/navigation-items.tsx
  src/components/user-drop-down.tsx
  src/config/app.ts
Due: prettier --write, eslint --fix, eslint, lint, format

feat:add height to table bodt
  src/app/(panel)/dashboard/applications/_components/applications-table.tsx
  src/app/(panel)/dashboard/applications/loading.tsx
  src/app/(panel)/dashboard/positions/_components/positions-table.tsx
  src/app/(panel)/dashboard/positions/loading.tsx
  src/components/ui/table.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

chore:remove useless imports
  src/components/ui/table.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

feat:implement pagination logic
  src/app/(panel)/dashboard/positions/_components/positions-table.tsx
  src/app/(panel)/dashboard/positions/page.tsx
  src/components/pagination-container.tsx
  src/components/ui/pagination.tsx
  src/hooks/use-pagination.ts
  src/types/common.ts
Due: prettier --write, eslint --fix, eslint, lint, format

feat:implement pagination in company services
  src/app/(panel)/dashboard/applications/[id]/_components/resume-preview.tsx
  src/app/(panel)/dashboard/applications/[id]/loading.tsx
  src/app/(panel)/dashboard/applications/_components/applications-table.tsx
  src/app/(panel)/dashboard/applications/loading.tsx
  src/app/(panel)/dashboard/applications/page.tsx
  src/app/(panel)/dashboard/positions/_components/positions-table.tsx
  src/app/(panel)/dashboard/positions/loading.tsx
  src/app/(panel)/dashboard/positions/page.tsx
  src/components/pagination-container.tsx
  src/hooks/use-pagination.ts
  src/lib/utils.ts
  src/types/company.ts
  src/types/internship.ts
  src/types/user.ts
Due: prettier --write, eslint --fix, eslint, lint, format

improve create position ux
  src/components/modal/panel/create-position.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

feat:implement get company profile service
  src/actions/company.ts
  src/actions/shared.ts
  src/actions/user.ts
  src/components/header.tsx
  src/components/user-drop-down.tsx
  src/config/app.ts
Due: prettier --write, eslint --fix, eslint, lint, format

style:improve applied page styles
  src/app/(main)/applied/loading.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

style:improve hero section
  src/app/(main)/_components/hero.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

refactor:resume preview styles
  src/app/(panel)/dashboard/applications/[id]/_components/heading.tsx
  src/app/(panel)/dashboard/applications/[id]/_components/info-card.tsx
  src/app/(panel)/dashboard/applications/[id]/_components/resume-preview.tsx
  src/app/(panel)/dashboard/applications/[id]/_components/resume-row.tsx
  src/app/(panel)/dashboard/applications/[id]/loading.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

fix:resume preview loading
  src/app/(panel)/dashboard/applications/[id]/_components/info-card.tsx
  src/app/(panel)/dashboard/applications/[id]/loading.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

feat:add position type select field in create position form
  src/components/modal/panel/create-position.tsx
  src/constants/company.ts
  src/schema/internship.ts
Due: prettier --write, eslint --fix, eslint, lint, format

style:badge text
  src/components/ui/badge.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

change logo
  public/logo.png
Due: none

feat:add background to logo
  src/components/logo.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

style:improve ui
  src/actions/auth.ts
  src/app/(main)/_components/hero.tsx
  src/app/(main)/_components/roadmap.tsx
  src/app/(main)/_components/top-companies.tsx
  src/app/(main)/page.tsx
  src/config/app.ts
Due: prettier --write, eslint --fix, eslint, lint, format

fix:register validation issue
  src/actions/auth.ts
  src/app/(auth)/_components/register-form.tsx
  src/schema/auth.ts
Due: prettier --write, eslint --fix, eslint, lint, format

release:v0.3.1-140303220900
  package-lock.json
  package.json
Due: prettier --write

add max length for create position description field
  src/components/modal/panel/create-position.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

feat:add faq content
  src/app/(main)/_components/frequently-asked-questions.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

ci:update next
  package-lock.json
  package.json
Due: prettier --write

refactor:move up error boundary file
  src/app/error.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

chore:remove next theme
  package-lock.json
  package.json
  src/app/(panel)/_components/sidebar.tsx
  src/app/layout.tsx
  src/providers/theme-provider.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

Update README.md
  README.md
Due: prettier --write

feat:add pagination for positions
  public/auth.png
  src/actions/internship.ts
  src/app/(main)/_components/featured-jobs.tsx
  src/app/(main)/internships/page.tsx
  src/app/(panel)/dashboard/applications/_components/applications-table.tsx
  src/components/company-card.tsx
  src/components/featured-job-card.tsx
  src/components/job-card.tsx
  src/components/top-company-card.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

format readme
  README.md
Due: prettier --write

chore:remove useless assets
  public/companies/drsaina.webp
  public/companies/irancell.webp
  public/companies/khanumi.webp
  public/companies/snapp.webp
  public/companies/snappfood.webp
Due: none

style:roadmap texts
  src/app/(main)/_components/roadmap.tsx
  src/app/(main)/companies/[id]/_components/company-tabs.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

release:v0.3.2-140303252300
  package-lock.json
  package.json
Due: prettier --write

chore:remove unused type
  src/lib/utils.ts
Due: prettier --write, eslint --fix, eslint, lint, format

chore:change logo
  README.md
  package-lock.json
  package.json
  public/logo.png
  src/app/(main)/_components/roadmap.tsx
  src/config/app.ts
Due: prettier --write, eslint --fix, eslint, lint, format

replace logo
  .env.development
  .env.production
  .gitignore
  package-lock.json
  package.json
  public/auth.png
  public/logo.png
  src/app/(auth)/layout.tsx
  src/app/(main)/_components/roadmap.tsx
  src/components/logo.tsx
  src/config/app.ts
Due: prettier --write, eslint --fix, eslint, lint, format

chore:change name
  liara.json
  package-lock.json
  package.json
Due: prettier --write
