Repository hoseinABH/Next-Job-Board: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, lint, format

fix: 323
  package-lock.json
  package.json
Due: prettier --write

new package lock
  .husky/commit-msg
  .husky/prepare-commit-msg
  package-lock.json
  package.json
Due: prettier --write

styles:improve company dasbhoard layout spacing
  src/app/(panel)/dashboard/page.tsx
  src/app/(panel)/dashboard/positions/_components/positions-header.tsx
  src/app/(panel)/dashboard/positions/loading.tsx
  src/app/(panel)/dashboard/positions/page.tsx
  src/app/(panel)/layout.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

chore:format code
  src/app/(panel)/dashboard/positions/page.tsx
  src/app/(panel)/layout.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

chore:remove useless files
  .lintstagedrc
  commitlint.config.cjs
Due: prettier --write

feat:add test services
  src/actions/internship.ts
  src/app/(main)/_components/featured-jobs.tsx
  src/app/(main)/companies/[id]/_components/company-tabs.tsx
  src/app/(main)/internships/[id]/page.tsx
  src/app/(main)/internships/page.tsx
  src/app/(panel)/dashboard/applications/_components/applications-table.tsx
  src/app/(panel)/dashboard/positions/_components/positions-table.tsx
  src/components/modal/internships/internship-application.tsx
  src/components/modal/panel/create-position.tsx
  src/types/internship.ts
Due: prettier --write, eslint --fix, eslint, lint, format

feat:implement test screen
  public/test.png
  src/actions/internship.ts
  src/app/(main)/internships/[id]/_components/position-content.tsx
  src/app/(main)/internships/[id]/page.tsx
  src/app/(main)/internships/[id]/test/[testId]/page.tsx
  src/app/(main)/internships/[id]/test/_components/question-item.tsx
  src/app/(main)/internships/[id]/test/_components/question-list.tsx
  src/app/(main)/internships/[id]/test/_components/test-header.tsx
  src/app/(main)/internships/page.tsx
  src/app/not-found.tsx
  src/components/question-option.tsx
  src/components/test-card.tsx
  src/components/ui/radio-group.tsx
  src/config/routes.ts
  src/store/tests.ts
  src/types/internship.ts
Due: prettier --write, eslint --fix, eslint, lint, format

feat:add test question footer component
  src/app/(main)/internships/[id]/test/[testId]/page.tsx
  src/app/(main)/internships/[id]/test/_components/test-footer.tsx
  src/app/(main)/internships/[id]/test/_components/test-header.tsx
  src/components/question-option.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

feat:add cleanup function for test store
  src/app/(main)/internships/[id]/test/_components/test-footer.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

feat:improve test questions styles
  src/app/(main)/internships/[id]/test/[testId]/page.tsx
  src/app/(main)/internships/[id]/test/_components/question-item.tsx
  src/app/(main)/internships/[id]/test/_components/question-list.tsx
  src/app/(main)/internships/[id]/test/_components/test-footer.tsx
  src/store/tests.ts
  tailwind.config.ts
Due: prettier --write, eslint --fix, eslint, lint, format

fix:add animation for test questions
  tailwind.config.ts
Due: lint, format

fix:clean current question answer on back
  src/app/(main)/internships/[id]/test/_components/test-footer.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

feat:prevent duplication of the answers
  src/app/(main)/internships/[id]/test/_components/test-footer.tsx
  src/types/internship.ts
Due: prettier --write, eslint --fix, eslint, lint, format

feat:add limitation for get tests
  src/actions/internship.ts
  src/app/(main)/internships/[id]/_components/position-content.tsx
  src/middleware.ts
Due: prettier --write, eslint --fix, eslint, lint, format

feat:change test card
  public/test.png
  src/components/test-card.tsx
  src/types/internship.ts
Due: prettier --write, eslint --fix, eslint, lint, format

refactor:change get test by id response model
  src/actions/internship.ts
  src/app/(main)/internships/[id]/test/[testId]/page.tsx
  src/types/internship.ts
Due: prettier --write, eslint --fix, eslint, lint, format

feat:implement post answers service
  src/actions/internship.ts
  src/app/(main)/internships/[id]/test/_components/test-footer.tsx
  src/app/(panel)/dashboard/applications/page.tsx
  src/lib/date.ts
Due: prettier --write, eslint --fix, eslint, lint, format

feat:implement test score in requests table
  src/app/(panel)/dashboard/applications/_components/applications-table.tsx
  src/types/company.ts
Due: prettier --write, eslint --fix, eslint, lint, format

feat:add new theme design
  src/app/(panel)/_components/sidebar.tsx
  src/app/globals.css
  src/components/footer.tsx
  src/components/theme-toggle.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

refactor:change footer styles
  public/hero.png
  src/app/(main)/_components/frequently-asked-questions.tsx
  src/app/(main)/_components/hero.tsx
  src/app/(main)/_components/top-companies.tsx
  src/app/(main)/internships/[id]/test/_components/question-list.tsx
  src/app/(main)/internships/[id]/test/_components/test-footer.tsx
  src/app/(main)/page.tsx
  src/app/globals.css
  src/components/footer.tsx
  src/components/question-option.tsx
  src/components/social-links.tsx
  src/components/spinner.tsx
  src/components/ui/button.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

feat:add frequently asked question section
  src/app/(main)/_components/featured-jobs.tsx
  src/app/(main)/_components/frequently-asked-questions.tsx
  src/app/(main)/_components/top-companies.tsx
  src/app/(main)/page.tsx
  src/app/globals.css
  src/components/ui/accordion.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

style:add card shadow
  src/app/globals.css
Due: none

fix:post answer service
  src/actions/internship.ts
Due: prettier --write, eslint --fix, eslint, lint, format

style:hero section
  public/line-vector.svg
  src/app/(main)/_components/featured-jobs.tsx
  src/app/(main)/_components/frequently-asked-questions.tsx
  src/app/(main)/_components/hero.tsx
  src/app/(main)/_components/top-companies.tsx
  src/app/(main)/applied/page.tsx
  src/app/(main)/companies/loading.tsx
  src/app/(main)/companies/page.tsx
  src/app/(main)/cv-maker/loading.tsx
  src/app/(main)/cv-maker/page.tsx
  src/app/(main)/internships/loading.tsx
  src/app/(main)/internships/page.tsx
  src/app/(main)/layout.tsx
  src/components/footer.tsx
  src/components/header.tsx
  src/components/ui/accordion.tsx
  src/components/ui/avatar.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

feat:add hero vectors
  public/hero-shape.svg
  src/app/(main)/_components/hero.tsx
  src/app/(main)/layout.tsx
  src/components/header.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

style:change auth page styles
  src/app/(auth)/layout.tsx
  src/components/user-drop-down.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

style:improve hero styles
  src/app/(main)/_components/hero.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

style:change header text color in the others routes
  src/components/header-container.tsx
  src/components/header.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

refactor:logo and name
  public/logo.png
  src/app/(main)/_components/hero.tsx
  src/components/logo.tsx
  src/components/search-form.tsx
  src/config/app.ts
Due: prettier --write, eslint --fix, eslint, lint, format

remove unused files
  public/next.svg
  public/vercel.svg
Due: none

style:change hero padding
  src/app/(main)/_components/hero.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

style:avatar fallback text color
  src/components/user-drop-down.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

style:position details
  src/app/(main)/companies/[id]/loading.tsx
  src/app/(main)/companies/[id]/page.tsx
  src/app/(main)/internships/[id]/loading.tsx
  src/app/(main)/internships/[id]/page.tsx
  src/app/(main)/internships/[id]/test/[testId]/page.tsx
  src/components/header.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

refactor:top comapany and featured job cards
  src/app/(main)/_components/top-companies.tsx
  src/components/featured-job-card.tsx
  src/components/top-company-card.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

feat:implement roadmap section
  public/landing/Arrow1.svg
  public/landing/Arrow2.svg
  public/landing/Arrow3.svg
  public/landing/circle-wavy-check-duotone.svg
  public/landing/cloud-arrow-up-duotone.svg
  public/landing/magnifying-glass-plus-duotone.svg
  public/landing/user-plus-duotone.svg
  src/app/(main)/_components/featured-jobs.tsx
  src/app/(main)/_components/frequently-asked-questions.tsx
  src/app/(main)/_components/roadmap.tsx
  src/app/(main)/_components/top-companies.tsx
  src/app/(main)/page.tsx
  src/app/globals.css
Due: prettier --write, eslint --fix, eslint, lint, format

style:disable styles for take a test button
  src/app/globals.css
  src/components/test-card.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

release:v0.3.0-140303122100
  package-lock.json
  package.json
Due: prettier --write

chore:change liara configs
  liara.json
Due: prettier --write

feat:add company logo for internship position card
  src/components/job-card.tsx
Due: prettier --write, eslint --fix, eslint, lint, format

fix:remove logo background
  public/logo.png
Due: none

Path conditions:
  prettier --write: (any of: ./src/**/*.{ts,tsx,js,jsx}) or (any of: *.{cjs,mjs,md,json})
  eslint --fix: any of: ./src/**/*.{ts,tsx,js,jsx}
  eslint: any of: ./src/**/*.{ts,tsx,js,jsx}
  lint: (any of: *.ts) or (any of: *.tsx)
  format: (any of: *.ts) or (any of: *.tsx)
